html{font-size:62.5%}

body{
    font-family:sans-serif;
    font-size:1.6rem;
    font-family:"Press Start 2P",sans-serif
    

}

ul {
    list-style-type: none;
    margin-left: 30rem;
    margin-right: 30rem;
    padding: 0;
    overflow: hidden;
    background-color: #a3d841;
    margin-bottom: 0;
    
  }
  
  li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  #navigation2{
    float: right;
  }

  #my_name{
    color: blue;
  }

  #computer_play{
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
    margin-right:30rem ;
    background-color: #a3d841;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    height: 25rem;
    
  }
  
  #computer{
    font-size: medium;
    margin: 0;
  }

  #current_computer_hand{

    border: 2px dotted black;
    height: 10rem;
    width: 10rem;
    font-size: 7rem;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-top: -1rem;
  }

  #result{
    margin-left: 30rem;
    margin-right:30rem ;
    background-color: #a3d841;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(253, 178, 39);
    font-size: small;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 5rem;
  }

  #result_heading{
    padding-left: 25rem;
  }