html{font-size:60.5%}
body{
    font-family:sans-serif;
    font-family:"Press Start 2P",sans-serif
    

}
#game{
    background-color:black;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
    margin-left: 30rem;
    margin-right: 30rem;
    padding: 0;
    overflow: hidden;
    background-color: #a3d841;
    margin-bottom: 0;
    font-size: small;
    font-weight: 900;
    
  }
  
  li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  #navigation2{
    float: right;
  }

  #my_name{
    color: blue;
  }

  #computer_play{
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
    margin-right:30rem ;
    background-color: #a3d841;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    padding: 0;
    height: 25rem;
    
  }
  
  #computer{
    font-size: medium;
    margin: 0;
    font-weight: 900;
  }

  #current_computer_hand{

    border: 2px dashed black;
    height: 10rem;
    width: 10rem;
    font-size: 7rem;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 0.01rem;
  }

  #result{
    margin-left: 30rem;
    margin-right:30rem;
    background-color: #a3d841;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(253, 178, 39);
    font-size: 10px;
    padding-top: 0.006rem;
    padding-bottom: 1rem;
    height: 3rem;
  }

  #player{
    font-size:medium;
    font-size: medium;
    margin: 0;
    font-weight: 900;
  }

  #result_heading{
    padding-left: 37rem;
    font-weight: 900;
  }

  #player_section{
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
    margin-right:30rem ;
    background-color: #a3d841;
    align-items: center;
    margin-top: 0;
    padding: 0;
    height: 25rem;
    gap: 0px;
  }

 #current_players_hand{
    border: 2px dashed black;
    height: 10rem;
    width: 10rem;
    font-size: 7rem;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-top: 0.01rem;
 }

 #players{

    display: flex;
    flex-direction: row;
    gap: 1px;
    justify-content: center;
    align-items: center;
    background-color: #a3d841;
    margin-top: -29px;
    margin-left: 30rem;
    margin-right:30rem;
    width: 57.5%;
    border: none;
    padding-bottom: 5rem;
    font-size: larger;
    
 }

 .p{

    border: 2px dashed black;
    height: 10rem;
    width: 15rem;
    font-size: 10rem;
    padding-left: 2rem;
    padding-top: 0.01rem;
    font-size: 15px;
    background-color: white;
    margin-right: 4rem;
    

 }


 